# Environment & Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Uploads & Generated reports
uploads/
reports/

# Audio data
AudioData/

# FFmpeg binaries
ffmpeg/

# Models cache
models/

# Jupyter Notebook
.ipynb_checkpoints/
test.ipynb
constraints.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Stray version files
1.17
2.0.0
